.dashboard {
    margin-top: 68px;
    margin-left: 107px;  

    .bigBlock {
        display: flex;
        gap: 70px;
        margin-bottom: 20px;        

    .block {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        max-width: 835px;
    }

    .lastBlock {
        display: flex;
        flex-direction: column;
        align-items: flex-end;     
        justify-content: space-between;   
    }
}}