.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.dashboard {
    margin-top: 20px;
    margin-left: 107px;  
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    @media (max-height: 910px) {
        margin-top: 0;
    }

    .bigBlock {
        display: flex;
        gap: 30px;
        padding-bottom: 20px;  
    
    .block {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        max-width: 835px;
    }

    .lastBlock {
        display: flex;
        flex-direction: column;
        align-items: flex-end;     
        justify-content: space-between;   
    }
}}