.welcome {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 70px;

    h1 {
        margin-bottom: 41px;
        margin-top: 0;
    }

    .firstname {
        color: red;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        margin-top: 0;
    }
}