.nutrient {
    height: 124px;
    width: 258px;
    border-radius: 5px;
    background-color: #FBFBFB;   
    display: flex;

    @media (max-width: 1350px) {
        width: 220px;
        height: 120px;
    }

    

    .icon {
        padding-left: 32px;
        height: 60px;
        width: 60px;
        margin: auto 0;
    }

    .valueType {
        display: flex;
        flex-direction: column;
        margin-left: 24px;
        margin-top: 15px;

        .value {
            font-weight: 700;
            font-size: 20px;     
            margin-bottom: 0;   
            
            @media (max-width: 1350px) {
                font-size: 18px;
            }        
        }

        .type {
            margin: 11px 0;
            font-weight: 700;
            color: #74798C;
        }
    }


}