.header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 91px;
    background-color: black;
    color: white; 

    .logo {
        margin-left: 28px;
    }

    ul {
        display: flex;
        list-style: none;
        gap: 219px;
        margin-right: 91px;
        font-weight: 400;
        font-size: 24px;
        cursor: pointer;
    }
}