.header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 91px;
    background-color: black;
    color: white; 
    box-shadow: 0px 4px 4px 0px #00000040;

    .logo {
        margin-left: 28px;
    }

    ul {
        display: flex;
        list-style: none;
        gap: 219px;
        margin-right: 91px;
        font-weight: 400;
        font-size: 24px;
        cursor: pointer;
    }

    .homeLink {
        text-decoration: none; 
        color: inherit;
    
        &:hover {
            color: red;
        }
    }
}